/* Настройка сайта и отображения контента */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comfortaa", cursive;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #e7f1fb;
}
::-webkit-scrollbar-thumb {
  background: #be0b20;
}
::-webkit-scrollbar-thumb:hover {
  background: #520911;
}
:root {
  --nav-panel-width: 78px;
}
#web-page.expanded {
  --nav-panel-width: 22%;
}
#web-page {
  display: flex;
}
#webpage_content {
  min-height: 100vh;
  margin-left: 78px;
  flex: 2;
}
p {
  font-size: 22px;
  line-height: 32px;
}

/* Мобильно меню */
.mobile_header {
  background: black;
  color: white;
  height: 60px;
  display: flex;
  align-items: center;
  font-size: 25px;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  padding: 0 40px 0 40px;
  z-index: 800;
  display: none;
}
.mobile_menu {
  color: white;
  background-color: black;
  display: flex;
  align-items: flex-start;
  width: 100%;
  justify-content: space-between;
  padding: 70px 40px 30px 40px;
  display: none;
  position: fixed;
  z-index: 200;
}
.mobile_menu_active {
  display: none;
}
.logo_header {
  display: flex;
  align-items: center;
}
.logo_header i {
  padding-left: 5px;
}
.header_mobile_menu i {
  color: #ffffff;
  font-size: 30px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  transition: all 0.5s ease;
  border-radius: 12px;
}
.header_mobile_menu i:hover {
  color: rgb(0, 0, 0);
  background-color: white;
}

/* Десктопное меню */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  padding: 6px 14px;
  transition: all 0.5s ease;
  height: 100%;
  width: var(--nav-panel-width);
  background-color: rgb(0, 0, 0);
  border-right: 1px solid rgba(36, 36, 36);
  z-index: 800;
}
.logotype {
  display: flex;
}
.sidebar .logo {
  color: #fff;
  width: 100%;
  align-items: center;
  display: none;
  font-size: 18px;
  font-weight: 800;
}
.bxs-star {
  color: #be0b20;
}
.logo_element {
  padding-left: 7px;
}
.expanded .logo {
  display: flex;
}
.logotype .logo .logo_name {
  margin-left: 10px;
}
.sidebar #btn {
  color: #ffffff;
  font-size: 30px;
  height: 50px;
  width: 70px;
  text-align: center;
  line-height: 50px;
  transition: all 0.5s ease;
  border-radius: 12px;
}
.sidebar #btn:hover {
  color: rgb(0, 0, 0);
  background-color: white;
}
.expanded #btn {
  margin-left: 20px;
}
.sidebar ul.nav_list {
  margin-top: 20px;
}
.sidebar ul li {
  list-style: none;
  position: relative;
  height: 50px;
  width: 100%;
  margin: 7px 0;
  list-style: none;
  line-height: 50px;
}
.sidebar ul li a {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-decoration: none;
  transition: all 0.5s ease;
  border-radius: 12px;
  white-space: nowrap;
}
.sidebar ul li a:hover {
  color: black;
  background: white;
}
.sidebar ul li input {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  border-radius: 12px;
  outline: none;
  border: none;
  background: rgb(36, 36, 36);
  padding-left: 50px;
  font-size: 15px;
  color: #fff;
}
.sidebar ul li input:focus {
  border: 1px solid rgb(75, 75, 75);
}
.sidebar ul li .bx-search {
  position: absolute;
  z-index: 100;
  color: #fff;
  font-size: 22px;
  transition: all 0.5s ease;
}
.sidebar ul li .bx-search:hover {
  background: #fff;
  color: rgb(0, 0, 0);
}
.sidebar ul li i {
  height: 50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
  text-align: center;
  font-size: 28px;
}
.sidebar ul li .tooltip {
  position: absolute;
  height: 35px;
  width: 122px;
  background: #fff;
  color: black;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  left: 80px;
  top: 0;
  transform: translateY(-50%);
  border-radius: 6px;
  line-height: 35px;
  text-align: center;
  transition: 0s;
  opacity: 0;
  pointer-events: none;
  display: block;
}
.expanded ul li .tooltip {
  display: none;
}
.sidebar ul li:hover .tooltip {
  top: 50%;
  transition: 0.5s all ease;
  opacity: 1;
}
.sidebar .links_name {
  display: none;
}
.expanded .links_name {
  display: block;
  flex: 2;
  padding-left: 30px;
}

/* Обложка */
body {
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  color: white;
}
.promo {
  height: 100vh;
  /* min-height: 800px; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.75)),
    url("img/background.jpg");
  background-attachment: fixed;
  background-size: cover;
}
.title_promo {
  font-size: 170px;
  color: transparent;
  -webkit-text-stroke: 1px white;
  background: url("img/back.png");
  -webkit-background-clip: text;
  background-position: 0 0;
  animation: back 20s linear infinite;
  padding: 0 0 0 30px;
  font-weight: bold;
}
.social_promo {
  padding: 0 0 0 40px;
  display: flex;
}
.social_promo a:not(:last-child) {
  margin-right: 50px;
}
.social_promo i {
  color: white;
  font-size: 30px;
  border-radius: 50%;
  border: 1px solid white;
  padding: 10px;
  transition: 0.5s;
}
.social_promo i:hover {
  color: rgb(36, 36, 36);
  background: white;
}
@keyframes back {
  100% {
    background-position: 2000px 0;
  }
}
.text_promo {
  width: 80%;
  padding: 0 0 0 40px;
  font-size: 25px;
  line-height: 35px;
}
.animate__animated.text_promo {
  --animate-duration: 2s;
}
/* Стили заголовков на всех страницах, кроме главной */
.title_pages_promo {
  font-size: 140px;
  color: transparent;
  -webkit-text-stroke: 1px white;
  background: url("img/back.png");
  -webkit-background-clip: text;
  background-position: 0 0;
  animation: back 20s linear infinite;
  padding: 0 0 0 30px;
  font-weight: bold;
}
/* Текст */
.title_with_stars {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 30px 0 30px 0;
  font-size: 45px;
  text-align: center;
}
.text_about .paragraph_about p:not(:last-child) {
  padding-bottom: 20px;
}
.text_about {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
    url("img/about.png"), url("img/about2.jfif");
  background-color: black;
  background-size: cover;
  padding: 0 40px 30px 40px;
}

/* Клик-блоки */
.click_blocks {
  display: flex;
  justify-content: space-between;
  padding: 0 40px 40px 40px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.75)),
    url("img/background.jpg");
  background-size: cover;
  background-attachment: fixed;
}
.click_block {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.click_block div {
  padding-top: 40px;
}
.title_click_block {
  font-size: 30px;
  font-weight: bold;
}
.definiton_click_block {
  opacity: 0.6;
  line-height: 27px;
  font-size: 18px;
  width: 80%;
}
.button_click_block {
  background-color: #be0b20;
  color: white;
  border: none;
  width: 220px;
  height: 45px;
  font-size: 15px;
  transition: 0.5s all ease;
}
.button_click_block:hover {
  color: #be0b20;
  background-color: white;
  cursor: pointer;
}

/* Факт */
.interesting_fact {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background: rgb(15, 15, 15);
}
.text_interesting_fact {
  margin: 50px 40px;
  align-self: center;
}
.definition_interesting_fact {
  padding: 30px 0 30px 0;
}
.title_interesting_fact {
  font-size: 30px;
  font-weight: bold;
  border-bottom: 3px solid #be0b20;
  width: 40%;
  padding-bottom: 15px;
}
.button_interesting_fact {
  background: #be0b20;
  color: white;
  border: none;
  width: 100%;
  height: 55px;
  font-size: 18px;
  transition: 0.5s all ease;
}
.button_interesting_fact:hover {
  color: #be0b20;
  background: white;
  cursor: pointer;
}

/* Блок с социалками */
.social {
  background: #be0b20;
  color: black;
  padding: 50px 40px;
}
.social_modal {
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
  padding: 40px 40px;
}
.social_modal div,
h1 {
  margin-bottom: 60px;
}
.social_links a {
  color: black;
  font-size: 50px;
  margin-right: 50px;
  transition: 0.3s;
}
.social_links a:hover {
  opacity: 0.6;
  cursor: pointer;
}

/* Footer */
.footer {
  background-color: black;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 50px 40px 30px 40px;
}
.menu_footer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.logo_footer {
  display: flex;
  align-items: center;
}
.translate {
  cursor: pointer;
}
.menu_footer a {
  opacity: 0.5;
  text-decoration: none;
  color: white;
  transition: 0.5s;
  margin-top: 12px;
}
.menu_footer a:hover {
  opacity: 1;
  text-decoration: underline;
}
.footer_menu_first_child {
  font-weight: bold;
}
.copyright_footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15px;
}
.copyright_footer a {
  color: white;
  opacity: 0.5;
  padding-bottom: 7px;
}

/* Адаптация сайта */
@media screen and (max-width: 1415px) {
  .title_interesting_fact {
    width: 70%;
  }
  .child_book {
    flex-direction: column-reverse;
  }
  .definition_book {
    width: 100%;
  }
}
@media screen and (max-width: 1300px) {
  .sidebar {
    display: none;
  }
  #webpage_content {
    margin-left: 0;
  }
  .mobile_header {
    display: flex;
  }
  .mobile_menu_active {
    display: flex;
  }
  .title_inter_fact {
    font-size: 25px;
  }
}
@media screen and (max-width: 1200px) {
  .interesting_fact {
    flex-direction: column;
    padding: 0;
  }
  .interesting_fact img {
    display: none;
  }
  .text_interesting_fact {
    padding: 40px 50px 40px 50px;
    width: 100%;
  }
  .our_children {
    flex-direction: column;
    padding: 0;
  }
  .our_children div {
    padding-top: 50px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1100px) {
  .title_promo {
    font-size: 140px;
  }
  .places_card_size_sm {
    grid-column: span 6;
  }
  .places_card_size_bg {
    grid-column: span 6;
  }
}
@media screen and (max-width: 920px) {
  .paragraph_about {
    font-size: 19px;
    line-height: 25px;
  }
  .text_about {
    padding: 30px 20px 30px 20px;
  }
  .text_promo {
    font-size: 22px;
    line-height: 32px;
  }
  .title_about_with_stars div {
    font-size: 30px;
  }
  .click_blocks {
    flex-direction: column;
  }
  .title_promo {
    font-size: 100px;
  }
  .footer {
    flex-direction: column;
  }
  .block_footer:not(:last-child) {
    padding-bottom: 40px;
  }
}
@media screen and (max-width: 750px) {
  .slider__slide-heading span {
    font-size: 40px;
  }
  .email_header {
    display: none;
  }
  .text_promo {
    width: 100%;
  }
}
@media screen and (max-width: 640px) {
  .title_pages_promo {
    font-size: 60px;
    padding: 0 20px 0 20px;
  }
  .title_promo {
    font-size: 60px;
    padding: 0 20px 0 20px;
  }
  .mobile_header {
    padding: 0 20px 0 20px;
  }
  .social_promo {
    padding: 0 20px 0 20px;
  }
  .text_promo {
    padding: 0 20px 0 20px;
    font-size: 20px;
  }
  .list_facts {
    padding: 0 20px 0 20px;
  }
  .mobile_menu {
    padding: 70px 20px 0 20px;
  }
  .menu_footer {
    padding-bottom: 50px;
  }
  .text_about {
    padding: 30px 20px 30px 20px;
  }
  .click_blocks {
    padding: 0 20px 0 20px;
  }
  .text_interesting_fact {
    padding: 50px 20px 50px 20px;
  }
  .footer {
    padding: 50px 20px 50px 20px;
  }
}
@media screen and (max-width: 570px) {
  .mobile_menu {
    flex-direction: column;
  }
  .logo_header {
    font-size: 20px;
  }
  .slider__slide-heading span {
    font-size: 30px;
  }
  .slider__slide-subheading {
    font-size: 20px;
  }
}
