* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: #e7f1fb;
}
::-webkit-scrollbar-thumb {
  background: #be0b20;
}
::-webkit-scrollbar-thumb:hover {
  background: #520911;
}

body {
  position: relative;
  min-height: 100vh;
  font-family: "Comfortaa", cursive;
  overflow-x: hidden;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  padding: 6px 14px;
  transition: all 0.5s ease;
  height: 100%;
  width: var(--nav-panel-width);
  background-color: rgb(0, 0, 0);
  font-family: "Poppins", sans-serif;
}
.sidebar .logo-content .logo {
  color: #fff;
  width: 100%;
  align-items: center;
  display: none;
  pointer-events: none;
  transition: all 0.5s ease;
  font-size: 30px;
}
.logo-content {
  display: flex;
}
.expanded .logo-content .logo {
  display: flex;
}
.logo-content .logo .logo_name {
  font-size: 18px;
  font-weight: 800;
  margin-left: 10px;
}
.sidebar #btn {
  color: #ffffff;
  font-size: 30px;
  height: 50px;
  width: 70px;
  text-align: center;
  line-height: 50px;
  transition: all 0.5s ease;
  border-radius: 12px;
}
.sidebar #btn:hover {
  color: rgb(0, 0, 0);
  background-color: white;
}
.expanded #btn {
  margin-left: 20px;
}
.sidebar ul {
  margin-top: 20px;
}
i.bxs-star {
  color: #be0b20;
}
.sidebar ul li {
  list-style: none;
  position: relative;
  height: 50px;
  width: 100%;
  margin: 7px 0;
  list-style: none;
  line-height: 50px;
}
.sidebar ul li a {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-decoration: none;
  transition: all 0.4s ease;
  border-radius: 12px;
  white-space: nowrap;
}
.sidebar ul li span {
  transform: translateX(50px);
}
.sidebar ul li a:hover {
  color: black;
  background: white;
}
.sidebar ul li input {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  border-radius: 12px;
  outline: none;
  border: none;
  background: rgb(36, 36, 36);
  padding-left: 50px;
  font-size: 15px;
  color: #fff;
}
.sidebar ul li .bx-search {
  position: absolute;
  z-index: 100;
  color: #fff;
  font-size: 22px;
  transition: all 0.5s ease;
}
.sidebar ul li .bx-search:hover {
  background: #fff;
  color: rgb(0, 0, 0);
}
.sidebar ul li i {
  height: 50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
  text-align: center;
  font-size: 28px;
}
.sidebar ul li .tooltip {
  position: absolute;
  height: 35px;
  width: 122px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  left: 80px;
  top: 0;
  transform: translateY(-50%);
  border-radius: 6px;
  line-height: 35px;
  text-align: center;
  transition: 0s;
  opacity: 0;
  pointer-events: none;
  display: block;
}
.sidebar ul li .bel {
  width: 180px;
}
.expanded ul li .tooltip {
  display: none;
}
.sidebar ul li:hover .tooltip {
  top: 50%;
  transition: 0.5s all ease;
  opacity: 1;
}
.sidebar .links_name {
  display: none;
}
.expanded .links_name {
  display: block;
  flex: 2;
}

/* Настройка контента */
:root {
  --nav-panel-width: 78px;
}
#web-page.expanded {
  --nav-panel-width: 240px;
}
#web-page {
  display: flex;
}
#webpage_content {
  min-height: 100vh;
  margin-left: var(--nav-panel-width);
  flex: 2;
}

/* Блок "Обложка" */
.promo {
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.title_promo {
  font-size: 170px;
  color: transparent;
  -webkit-text-stroke: 1px white;
  background: url("img/back.png");
  -webkit-background-clip: text;
  background-position: 0 0;
  animation: back 20s linear infinite;
  padding: 0 0 0 80px;
  font-weight: bold;
}
@keyframes back {
  100% {
    background-position: 2000px 0;
  }
}
.text_promo {
  width: 70%;
  padding: 0 0 0 80px;
  font-size: 25px;
  line-height: 35px;
}
.animate__animated.text_promo {
  --animate-duration: 2.5s;
  /*  --animate-delay: 0.9s; - Такис способом тоже можно */
}

/* Блок "Текст" */
.paragraph_about {
  font-size: 22px;
  line-height: 32px;
}
.paragraph_about p:first-child {
  margin-top: 20px;
}
.paragraph_about p:not(:last-child) {
  padding-bottom: 20px;
}
.title_about_with_stars {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* Блок "Текст (музей) */
.text_museum {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 30px 40px 30px 40px;
}

/* Заголовок (.title_about) */
.title_about {
  font-size: 45px;
  text-align: center;
}

/* Блок "Ссылка" */

.link_block {
  width: 100%;
  height: 400px;
  padding: 0 45px 0 45px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  overflow: hidden;
  color: white;
}
.title_link_block {
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  padding-bottom: 10px;
}
.defenition_link_block {
  display: none;
  font-size: 20px;
}
.link_block:hover .defenition_link_block {
  display: block;
}
.link_block:hover .title_link_block {
  border-bottom: 3px solid #be0b20;
  transition: 0.5s all ease;
}
.link_block {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)),
    url("img/background.jpg");
  background-size: cover;
}
.link_block:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("img/background.jpg");
  background-size: cover;
  cursor: pointer;
}

/* Ютуб-видео музей */
.youtube {
  background-color: black;
  text-align: center;
  padding-top: 30px;
}

/* Блок "Факты" */
.facts {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("img/фотомузей2.jpg");
  background-size: cover;
  background-attachment: fixed;
  color: white;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 50px;
}
.list_facts {
  padding: 0 80px 0 80px;
  font-size: 22px;
  line-height: 32px;
}
.list_facts li {
  padding-top: 20px;
}
.places_museum {
  padding-top: 30px;
}

/* Блок "Клик" */
.click_blocks {
  display: flex;
  justify-content: space-around;
  background-image: url("img/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  padding: 0 80px 0 80px;
}
.click_block div {
  padding-top: 40px;
}
.click_block div:last-child {
  padding-bottom: 40px;
}
.click_block {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  color: white;
}
.title_click_block {
  font-size: 30px;
  font-weight: bold;
}
.definiton_click_block {
  opacity: 0.6;
  line-height: 27px;
  font-size: 18px;
  width: 80%;
}
.button_click_block {
  background-color: #be0b20;
  color: white;
  border: none;
  width: 220px;
  height: 45px;
  font-size: 14px;
  transition: 0.5s all ease;
}
.button_click_block:hover {
  color: #be0b20;
  background-color: white;
  cursor: pointer;
}

/* Блок "Галерея" */
.title_places {
  color: white;
  background-color: black;
  padding: 30px 0 30px 0;
}
.places {
  background-color: black;
}
.places_cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  padding-bottom: 50px;
}
.places_card-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}
.places_card_size_sm {
  grid-column: span 2;
}
.places_card_size_bg {
  grid-column: span 3;
}
.places_card-pic {
  width: 100%;
  transition: 0.15s;
}
.places_card {
  position: relative;
  overflow: hidden;
  background: line;
}
.places_card::after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.1);
}
.places_card-title {
  font-size: 40px;
  position: absolute;
  line-height: 60px;
  bottom: 27px;
  left: 29px;
  color: white;
  border-bottom: 14px solid #be0b20;
  height: 30px;
  z-index: 3;
}
.places_card:hover .places_card-pic {
  transform: scale(1.05);
}
.places_card-pic_size-sm {
  height: 283px;
  object-fit: cover;
}

/* Блок "Подвал" */
.footer {
  color: white;
  background-color: black;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 70px 40px 50px 40px;
}
.menu_footer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.menu_footer a:not(:first-child),
.email_footer_list {
  margin-top: 10px;
}
.logo_footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 9%;
}
.menu_footer a,
.email_footer_list {
  opacity: 0.5;
  text-decoration: none;
  color: white;
  transition: 0.5s;
}
.menu_footer a:hover,
.email_footer_list:hover {
  opacity: 1;
}
.footer_first_child {
  font-weight: bold;
}

/* Адаптация сайта */
@media screen and (max-width: 1280px) {
  .title_promo_main {
    font-size: 100px;
  }
  .defenition_promo_main {
    font-size: 26px;
    width: 90%;
  }
  .places_card_size_sm {
    grid-column: span 3;
  }
}

@media screen and (max-width: 1000px) {
  .title_promo_main {
    font-size: 70px;
  }
  .title_about {
    font-size: 30px;
  }
  .svg_element {
    display: none;
  }
  .text_about {
    font-size: 18px;
  }
  .definition_promo_main {
    font-size: 20px;
  }
  .div_blocks {
    width: 90%;
    padding: 0 40px 0 40px;
  }
  .places_card_size_sm {
    grid-column: span 6;
  }
  .places_card_size_bg {
    grid-column: span 6;
  }
  .blocks {
    flex-direction: column;
    align-items: flex-start;
  }
  .definiton_block {
    width: 100%;
  }
  .footer {
    flex-direction: column;
  }
  .footer .block_footer {
    padding-top: 30px;
  }
  .logo_footer {
    display: none;
  }
  .logo_footer_name_active {
    display: block;
  }
}
@media screen and (max-width: 760px) {
  #web-page.expanded {
    --nav-panel-width: 220px;
  }
  .title_promo_main {
    padding: 0 0 0 20px;
    font-size: 50px;
  }
  .definition_promo_main {
    padding: 0 0 0 20px;
  }
  .blocks {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 500px) {
  .defenition_promo_main {
    font-size: 16px;
  }
  .text_about {
    padding: 40px 20px 40px 20px;
  }
  .title_about {
    font-weight: bold;
  }
  .div_blocks {
    padding: 0 0 0 20px;
  }
  .title_promo_main {
    font-size: 40px;
  }
  .places_card-title {
    font-size: 20px;
    left: 15px;
  }
}
