/* Тест */
.quiz-container {
  background-color: #ffffff;
  padding: 40px 40px 40px 40px;
  height: 100vh;
}
.quiz-title-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  justify-content: space-around;
  color: black;
}
.quiz-title-container h2 {
  padding-bottom: 15px;
  font-size: 28px;
}
.quiz-title-container p {
  font-size: 18px;
  line-height: 25px;
}
.question-number h3 {
  color: #be0b20;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}
#question {
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  padding: 10px 0;
  margin-bottom: 20px;
}
.options {
  margin-bottom: 30px;
}
.options div {
  background-color: #cccccc;
  font-size: 16px;
  color: #000000;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 15px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.options div:hover {
  background-color: rgba(207, 207, 207, 0.686);
}
.options div.correct {
  color: #ffffff;
  background-color: green;
}
.options div.wrong {
  color: #ffffff;
  background-color: #be0b20;
}
.options div.disabled {
  pointer-events: none;
}
.button #btn-next {
  padding: 15px 50px;
  background-color: #be0b20;
  font-size: 18px;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  margin-bottom: 15px;
  border: 1px solid #be0b20;
}
.button #btn-next:hover {
  background-color: white;
  color: #be0b20;
}
#answers-tracker {
  border-top: 1px solid #cccccc;
  padding-top: 15px;
}
#answers-tracker div {
  height: 25px;
  width: 25px;
  background-color: #cccccc;
  display: inline-block;
  border-radius: 50%;
  margin-right: 10px;
  transition: 0.5s;
}
#answers-tracker div.correct {
  background-color: green;
}
#answers-tracker div.wrong {
  background-color: #be0b20;
}

/* Модально окно */
.quiz-over-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: none;
  align-items: center;
  justify-content: center;
}
.quiz-over-modal.active {
  display: flex;
}
.quiz-over-modal .content-modal {
  background-color: black;
  padding: 40px;
  border-radius: 5px;
  flex-basis: 800px;
  max-width: 800px;
  border: 1px solid rgba(36, 36, 36);
}
.quiz-over-modal .content-modal p {
  font-size: 20px;
}
.quiz-over-modal .content-modal h1 {
  font-size: 36px;
  border-bottom: 1px solid #be0b20;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.quiz-over-modal .content-modal button {
  padding: 15px 50px;
  border: none;
  background-color: #be0b20;
  transition: all 0.2s ease-in-out;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  color: #ffffff;
  transition: 0.5s;
  margin-top: 30px;
  width: 100%;
}
.quiz-over-modal .content-modal button:hover {
  background-color: #fff;
  color: #be0b20;
}

/* Адаптация сайта */
@media screen and (max-width: 1280px) {
  .title_promo_test {
    font-size: 100px;
  }
  .definition_promo_test {
    font-size: 26px;
  }
}
@media screen and (max-width: 1000px) {
  .logo_footer {
    display: none;
  }
  .title_promo_test {
    padding: 0 0 0 40px;
  }
  .definition_promo_test {
    padding: 0 0 0 40px;
    width: 90%;
  }
  .footer {
    flex-direction: column;
  }
  .footer .block_footer {
    padding-top: 30px;
  }
  .logo_footer {
    display: none;
  }
  .logo_footer_name_active {
    display: block;
  }
  .tests_variants {
    flex-direction: column;
  }
  .test_variant {
    width: 100%;
  }
  .test_variant:last-child {
    margin-top: 50px;
  }
}
@media screen and (max-width: 800px) {
  .button {
    flex-direction: column;
  }
}
@media screen and (max-width: 750px) {
  .title_promo_test {
    font-size: 50px;
    padding: 0 0 0 20px;
  }
  .definition_promo_test {
    padding: 0 0 0 20px;
  }
}
@media screen and (max-width: 500px) {
  .text_about_test {
    padding: 0 20px 0 20px;
    font-size: 16px;
  }
  .title_promo_test {
    font-size: 25px;
  }
  .title_test_variant {
    font-size: 30px;
  }
  .definition_promo_test {
    display: none;
  }
}
