/* Разделы архива */
.links_blocks_archive {
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding: 50px 40px 0 40px;
}
.links_blocks_archive_second {
  padding-bottom: 50px;
}
.link_block {
  width: 30%;
  height: 500px;
  background-size: cover;
  padding: 0 15px 0 15px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  overflow: hidden;
}
.link_block_second {
  width: 48%;
  height: 500px;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 0 15px 0 15px;
  overflow: hidden;
}
.title_link_block {
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}
.defenition_link_block {
  display: none;
  font-size: 20px;
  line-height: 25px;
}
.link_block:hover .defenition_link_block {
  display: block;
}
.link_block:hover .title_link_block {
  padding-bottom: 10px;
  border-bottom: 3px solid #be0b20;
  transition: 0.5s all ease;
}
.link_block_second:hover .defenition_link_block {
  display: block;
}
.link_block_second:hover .title_link_block {
  padding-bottom: 10px;
  border-bottom: 3px solid #be0b20;
  transition: 0.5s all ease;
}
.link_gallery {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
    url("../img/фотограф.jpg");
  background-position: center center;
}
.link_letters {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
    url("../img/газеты.jpg");
  background-size: cover;
}
.link_newspapers {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
    url("../img/письма.jpg");
  background-size: cover;
}
.link_parads {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
    url("../img/парады.jpg");
  background-size: cover;
}
.link_radio {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
    url("../img/радио.jpg");
  background-size: cover;
}
.link_parads:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("../img/парады.jpg");
  background-size: cover;
  cursor: pointer;
}
.link_radio:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("../img/радио.jpg");
  background-size: cover;
  cursor: pointer;
}
.link_newspapers:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("../img/письма.jpg");
  cursor: pointer;
  background-size: cover;
}
.link_letters:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("../img/газеты.jpg");
  cursor: pointer;
  background-size: cover;
}
.link_gallery:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("../img/фотограф.jpg");
  cursor: pointer;
  background-position: center center;
}

@media screen and (max-width: 1300px) {
  .sidebar {
    display: none;
  }
  #webpage_content {
    margin-left: 0;
  }
  .mobile_header {
    display: flex;
  }
  .mobile_menu_active {
    display: flex;
  }
  .title_inter_fact {
    font-size: 25px;
  }
  .links_blocks_archive {
    flex-direction: column;
  }
  .link_block {
    width: 100%;
  }
  .link_block:not(:first-child) {
    margin-top: 50px;
  }
  .link_block_second {
    width: 100%;
  }
  .link_newspapers {
    background-position: bottom;
  }
  .link_radio {
    margin-top: 50px;
  }
  .title_link_block {
    font-size: 30px;
  }
}
