/* Выбор блока */
.blocks_variants {
  display: flex;
  justify-content: space-between;
  padding: 50px 40px 0 40px;
  color: white;
  background: black;
}
.block_variant {
  width: 48%;
  height: 500px;
  padding: 0 15px 0 15px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  overflow: hidden;
}
.title_block_variant {
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}
.defenition_block_variant {
  display: none;
  font-size: 20px;
  line-height: 25px;
}
.block_variant:hover .defenition_block_variant {
  display: block;
}
.block_variant:hover .title_block_variant {
  padding-bottom: 10px;
  border-bottom: 3px solid #be0b20;
  transition: 0.5s all ease;
}
.block_variant:hover {
  cursor: pointer;
}

/* Битвы */
.battle_first {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../img/брест.jpg");
  background-position: center center;
}
.battle_second {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
    url("../img/минск-свобода.jpg");
  background-size: cover;
}
.battle_third {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
    url("../img/хатынь.jfif");
  background-size: cover;
}
.battle_fourth {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../img/москва.jpg");
  background-position: center center;
  background-size: cover;
}
.battle_fifth {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../img/багратион.jpg");
  background-size: cover;
}
.battle_sixth {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
    url("../img/курская\ битва.jpg");
  background-size: cover;
}
.battle_seventh {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../img/искра.jpg");
  background-size: cover;
  background-position: center;
}
.battle_eigth {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../img/сталинград.jpeg");
  background-size: cover;
}
.battle_ninth {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../img/ржевская битва.jpeg");
}
.battle_tenth {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../img/гомель.jpg");
  background-size: cover;
}
.battle_first:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("../img/брест.jpg");
  background-position: center center;
}
.battle_second:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("../img/минск-свобода.jpg");
  background-size: cover;
}
.battle_third:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("../img/хатынь.jfif");
  background-size: cover;
}
.battle_fourth:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("../img/москва.jpg");
  background-position: center center;
  background-size: cover;
}
.battle_fifth:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("../img/багратион.jpg");
  background-size: cover;
}
.battle_sixth:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("../img/курская\ битва.jpg");
  background-size: cover;
}
.battle_seventh:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("../img/искра.jpg");
  background-size: cover;
  background-position: center;
}
.battle_eigth:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("../img/сталинград.jpeg");
  background-size: cover;
}
.battle_ninth:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("../img/ржевская битва.jpeg");
}
.battle_tenth:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("../img/гомель.jpg");
  background-size: cover;
}

/* Тесты */
.test_first {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
    url("../img/background3.jpg");
}
.test_second {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
    url("../img/background-archive.jpg");
  background-size: cover;
}
.test_third {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.75)),
    url("../img/битвы.jpeg");
  background-size: cover;
}
.test_fourth {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
    url("../img/тест-литература.jpg");
  background-size: cover;
}
.test_fifth {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
    url("../img/тест-партизаны.jpg");
  background-size: cover;
}
.test_first:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("../img/background3.jpg");
}
.test_second:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("../img/background-archive.jpg");
  background-size: cover;
}
.test_third:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("../img/битвы.jpeg");
  background-size: cover;
}
.test_fourth:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("../img/тест-литература.jpg");
  background-size: cover;
}
.test_fifth:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("../img/тест-партизаны.jpg");
  background-size: cover;
}
/* Истории */
.history_first {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
    url("../img/солдаты.jpg");
  background-position: center center;
}
.history_second {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
    url("../img/битвы.jpeg");
  background-size: cover;
}
.history_first:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("../img/солдаты.jpg");
  background-position: center center;
}
.history_second:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("../img/битвы.jpeg");
  background-size: cover;
}

/* Газеты */
.newspaper_first {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../img/газета-известия.jfif");
  background-size: cover;
}
.newspaper_second {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../img/газета-вм.jfif");
  background-size: cover;
}
.newspaper_third {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../img/газета-кп.jfif");
  background-size: cover;
}
.newspaper_fourth {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../img/газета-кз.jfif");
  background-size: cover;
}
.newspaper_fifth {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../img/газета-кв.jfif");
  background-size: cover;
}
.newspaper_sixth {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../img/газета-кф.jfif");
  background-size: cover;
}
.newspaper_seventh {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../img/газета-ли.jfif");
  background-size: cover;
}
.newspaper_eighth {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../img/газета-лг.jfif");
  background-size: cover;
}
.newspaper_ninth {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../img/газета-мб.jfif");
  background-size: cover;
}
.newspaper_tenth {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../img/газета-правда.jfif");
  background-size: cover;
}
.newspaper_eleventh {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../img/газета-си.jfif");
  background-size: cover;
}
.newspaper_twelfth {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../img/газета-бел.jpg");
  background-size: cover;
}
.newspaper_first:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("../img/газета-известия.jfif");
  background-size: cover;
}
.newspaper_second:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("../img/газета-вм.jfif");
  background-size: cover;
}
.newspaper_third:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("../img/газета-кп.jfif");
  background-size: cover;
}
.newspaper_fourth:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("../img/газета-кз.jfif");
  background-size: cover;
}
.newspaper_fifth:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("../img/газета-кв.jfif");
  background-size: cover;
}
.newspaper_sixth:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("../img/газета-кф.jfif");
  background-size: cover;
}
.newspaper_seventh:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("../img/газета-ли.jfif");
  background-size: cover;
}
.newspaper_eighth:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("../img/газета-лг.jfif");
  background-size: cover;
}
.newspaper_ninth:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("../img/газета-мб.jfif");
  background-size: cover;
}
.newspaper_tenth:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("../img/газета-правда.jfif");
  background-size: cover;
}
.newspaper_eleventh:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("../img/газета-си.jfif");
  background-size: cover;
}
.newspaper_twelfth:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("../img/газета-бел.jpg");
  background-size: cover;
}
