/* Настройка фона */
.hashtag {
  background: rgba(238, 238, 238, 0.897);
  color: black;
}

/* О хэштэге */
.text_about_hashtag {
  background-size: cover;
  padding: 0 40px 50px 40px;
}
.title_about_hashtag {
  font-size: 45px;
  padding: 30px 40px 30px 40px;
}
.text_about_hashtag p:not(:last-child) {
  padding-bottom: 20px;
}
.accord {
  background: white;
}

/* Стили аккордеона */
.grid {
  padding: 0 40px 0 40px;
}
.ui-accordion {
  padding-bottom: 50px;
}
.ui-accordion-header {
  background: rgb(233, 233, 233);
  cursor: pointer;
  margin: 0;
  padding: 20px 15px;
}
.ui-accordion-content {
  background-color: #fff;
  border: 1px solid rgb(233, 233, 233);
  padding: 20px 10px 20px 10px;
}
.ui-accordion-header:hover {
  background: rgb(202, 202, 202);
  transition: 0.5s;
}
.ui-accordion-content + .ui-accordion-header {
  margin-top: 15px;
}
.js-ui-accordion h3 {
  font-size: 27px;
}
.js-ui-accordion p {
  font-size: 20px;
  line-height: 30px;
}

/* Победители */
.winners_block {
  display: flex;
  justify-content: space-between;
  padding: 0 40px 30px 40px;
}

/* Адаптация сайта */
@media screen and (max-width: 1280px) {
  .title_promo_main {
    font-size: 100px;
  }
  .defenition_promo_main {
    font-size: 26px;
    width: 90%;
  }
  .places_card_size_sm {
    grid-column: span 3;
  }
}

@media screen and (max-width: 1000px) {
  .title_promo_main {
    font-size: 70px;
  }
  .title_about {
    font-size: 30px;
  }
  .text_about {
    font-size: 18px;
  }
  .definition_promo_main {
    font-size: 20px;
  }
  .div_blocks {
    width: 90%;
    padding: 0 40px 0 40px;
  }
  .places_card_size_sm {
    grid-column: span 6;
  }
  .places_card_size_bg {
    grid-column: span 6;
  }
  .blocks {
    flex-direction: column;
    align-items: flex-start;
  }
  .definiton_block {
    width: 100%;
  }
  .footer {
    flex-direction: column;
  }
  .footer .block_footer {
    padding-top: 30px;
  }
  .logo_footer_name_active {
    display: block;
  }
}
@media screen and (max-width: 760px) {
  #web-page.expanded {
    --nav-panel-width: 220px;
  }
  .title_promo_main {
    padding: 0 0 0 20px;
    font-size: 50px;
  }
  .definition_promo_main {
    padding: 0 0 0 20px;
  }
  .blocks {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 500px) {
  .defenition_promo_main {
    font-size: 16px;
  }
  .text_about {
    padding: 40px 20px 40px 20px;
  }
  .title_about {
    font-weight: bold;
  }
  .div_blocks {
    padding: 0 0 0 20px;
  }
  .title_promo_main {
    font-size: 40px;
  }
  .places_card-title {
    font-size: 20px;
    left: 15px;
  }
}
