/* О городах-героях */
.about_heroes_city p {
  background: black;
  padding: 30px 40px 0 40px;
}

/* Блоки */
.links_blocks {
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding: 50px 40px 0 40px;
}
.link_block {
  width: 30%;
  height: 500px;
  padding: 0 15px 0 15px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  border: 1px solid rgb(36, 36, 36);
  overflow: hidden;
  cursor: pointer;
}
.title_link_block {
  font-weight: bold;
  font-size: 45px;
  border-bottom: 3px solid #be0b20;
  padding: 5px 0 5px 0;
}
.defenition_link_block {
  display: none;
  font-size: 20px;
  line-height: 25px;
}
.link_block:hover .defenition_link_block {
  display: block;
}
.link_block:hover .title_link_block {
  transition: 0.5s all ease;
}

/* Города-герои */
.kiev {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)),
    url("../img/Города-герои/киев.png");
  background-position: center center;
  background-size: cover;
}
.minsk {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)),
    url("../img/Города-герои/минск.png");
  background-size: cover;
  background-position: bottom;
}
.stalingrad {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)),
    url("../img/Города-герои/сталинград.png");
  background-size: cover;
}
.moscow {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)),
    url("../img/Города-герои/москва.png");
  background-size: cover;
}
.leningrad {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)),
    url("../img/Города-герои/ленинград.png");
  background-size: cover;
}
.murmansk {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)),
    url("../img/Города-герои/мурманск.png");
  background-size: cover;
}
.novorossiysk {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)),
    url("../img/Города-герои/новороссийск.png");
  background-size: cover;
}
.kerch {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)),
    url("../img/Города-герои/керчь.png");
  background-size: cover;
}
.odessa {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)),
    url("../img/Города-герои/одесса.png");
  background-size: cover;
}
.sevastopol {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)),
    url("../img/Города-герои/севастополь.png");
  background-size: cover;
}
.smolensk {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)),
    url("../img/Города-герои/смоленск.png");
  background-size: cover;
}
.tula {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)),
    url("../img/Города-герои/тула.png");
  background-size: cover;
}
.brest {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)),
    url("../img/Города-герои/брест.png");
  background-size: cover;
}

/* Hovers */
.stalingrad:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../img/Города-герои/сталинград.png");
  background-size: cover;
  background-color: #be0b20;
}
.minsk:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../img/Города-герои/минск.png");
  background-size: cover;
  background-position: bottom;
  background-color: #be0b20;
}
.kiev:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../img/Города-герои/киев.png");
  background-position: center center;
  background-size: cover;
  background-color: #be0b20;
}
.moscow:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../img/Города-герои/москва.png");
  background-size: cover;
  background-color: #be0b20;
}
.leningrad:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../img/Города-герои/ленинград.png");
  background-size: cover;
  background-color: #be0b20;
}
.murmansk:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../img/Города-герои/мурманск.png");
  background-size: cover;
  background-color: #be0b20;
}
.novorossiysk:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../img/Города-герои/новороссийск.png");
  background-size: cover;
  background-color: #be0b20;
}
.kerch:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../img/Города-герои/керчь.png");
  background-size: cover;
  background-color: #be0b20;
}
.odessa:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../img/Города-герои/одесса.png");
  background-size: cover;
  background-color: #be0b20;
}
.sevastopol:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../img/Города-герои/севастополь.png");
  background-size: cover;
  background-color: #be0b20;
}
.smolensk:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../img/Города-герои/смоленск.png");
  background-size: cover;
  background-color: #be0b20;
}
.tula:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../img/Города-герои/тула.png");
  background-size: cover;
  background-color: #be0b20;
}
.brest:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../img/Города-герои/брест.png");
  background-size: cover;
  background-color: #be0b20;
}
