/* Письма */
.letter_block {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  background-color: black;
  border-bottom: 1px solid rgb(36, 36, 36);
  padding: 50px 0 50px 0;
}
.letter_block_second {
  flex-direction: row-reverse;
}
.image_letter_block img {
  width: 400px;
  height: 500px;
}
.image_letter_block:hover {
  cursor: pointer;
}
.text_letter_block {
  width: 50%;
  font-size: 22px;
  line-height: 32px;
}
.text_letter_block p {
  padding-top: 30px;
}
.text_letter_block p:last-child {
  opacity: 0.5;
}

/* Текст почты */
.email_block {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-size: 20px;
  line-height: 30px;
  padding: 35px 40px 35px 40px;
  background-attachment: fixed;
}
.text_email_block {
  width: 70%;
}
.image_email_block a i {
  font-size: 35px;
  color: white;
  transition: 0.5s;
}
.image_email_block a i:hover {
  color: #be0b20;
}

/* Адаптация сайта */
@media screen and (max-width: 1280px) {
  .title_promo_museum {
    font-size: 100px;
  }
  .definition_promo_museum {
    font-size: 26px;
  }
  .letter_block {
    flex-direction: column;
  }
  .text_letter_block {
    width: 100%;
    padding: 0 20px 0 20px;
    margin-top: 50px;
  }
}
@media screen and (max-width: 1000px) {
  .logo_footer {
    display: none;
  }
  .title_promo_museum {
    padding: 0 0 0 40px;
  }
  .definition_promo_museum {
    padding: 0 0 0 40px;
    width: 90%;
  }
}
@media screen and (max-width: 750px) {
  .title_promo_museum {
    font-size: 50px;
    padding: 0 0 0 20px;
  }
  .definition_promo_museum {
    padding: 0 0 0 20px;
  }
}
@media screen and (max-width: 500px) {
  .text_about_museum {
    padding: 0 20px 0 20px;
    font-size: 16px;
  }
  .title_promo_museum {
    font-size: 25px;
  }
}
