/* Обложка */
.promo {
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)),
    url("../img/награды.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

/* Карточки с медалями */
.medal_card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: black;
  font-size: 20px;
  line-height: 30px;
  padding: 50px 40px 50px 40px;
  border-bottom: 1px solid rgb(36, 36, 36);
}
.definition_medal_card {
  width: 80%;
  padding-top: 30px;
}
.title_medal_card {
  font-size: 30px;
  font-weight: bold;
  border-bottom: 3px solid #be0b20;
  width: 40%;
  padding-bottom: 30px;
}
.heroes_medal_card {
  opacity: 0.5;
  padding-top: 30px;
  width: 80%;
}
.image_medal_card {
  height: 450px;
}

/* Адаптация сайта */
@media screen and (max-width: 1280px) {
  .title_promo_main {
    font-size: 100px;
  }
  .defenition_promo_main {
    font-size: 26px;
    width: 90%;
  }
  .places_card_size_sm {
    grid-column: span 3;
  }
}

@media screen and (max-width: 1000px) {
  .title_promo_main {
    font-size: 70px;
  }
  .title_about {
    font-size: 30px;
  }
  .svg_element {
    display: none;
  }
  .text_about {
    font-size: 18px;
  }
  .definition_promo_main {
    font-size: 20px;
  }
  .div_blocks {
    width: 90%;
    padding: 0 40px 0 40px;
  }
  .places_card_size_sm {
    grid-column: span 6;
  }
  .places_card_size_bg {
    grid-column: span 6;
  }
  .blocks {
    flex-direction: column;
    align-items: flex-start;
  }
  .definiton_block {
    width: 100%;
  }
  .footer {
    flex-direction: column;
  }
  .footer .block_footer {
    padding-top: 30px;
  }
  .logo_footer {
    display: none;
  }
  .logo_footer_name_active {
    display: block;
  }
}
@media screen and (max-width: 760px) {
  #web-page.expanded {
    --nav-panel-width: 220px;
  }
  .title_promo_main {
    padding: 0 0 0 20px;
    font-size: 50px;
  }
  .definition_promo_main {
    padding: 0 0 0 20px;
  }
  .blocks {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 500px) {
  .defenition_promo_main {
    font-size: 16px;
  }
  .text_about {
    padding: 40px 20px 40px 20px;
  }
  .title_about {
    font-weight: bold;
  }
  .div_blocks {
    padding: 0 0 0 20px;
  }
  .title_promo_main {
    font-size: 40px;
  }
  .places_card-title {
    font-size: 20px;
    left: 15px;
  }
}
