.promo_museum {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
    url("../img/мое.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: "Comfortaa", cursive;
}
.animate__animated.first_paragraph {
  --animate-duration: 2s;
}
.animate__animated.second_paragraph {
  --animate-duration: 2.5s;
  /*  --animate-delay: 0.9s; - Такис способом тоже можно */
}
.title_promo_museum {
  font-size: 160px;
  color: transparent;
  -webkit-text-stroke: 1px white;
  background: url("../img/back.png");
  -webkit-background-clip: text;
  background-position: 0 0;
  animation: back 20s linear infinite;
  padding: 0 0 0 80px;
  font-weight: bold;
}
@keyframes back {
  100% {
    background-position: 2000px 0;
  }
}
.definition_promo_museum {
  width: 70%;
  padding: 0 0 0 80px;
  font-size: 25px;
  line-height: 32px;
}

/* О музее */
.about_museum {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 50px;
}
.title_about {
  font-size: 45px;
  text-align: center;
  padding-bottom: 15px;
}
.text_about_museum {
  padding: 0 40px 0 40px;
  margin: 0 auto;
  font-size: 22px;
  line-height: 32px;
  color: #fff;
}
.animate__animated.text_about_museum {
  --animate-duration: 2s;
  /*  --animate-delay: 0.9s; - Такис способом тоже можно */
}

/* Факты музея */
.facts_museum {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)),
    url("../img/фотомузей2.JPG");
  background-size: cover;
  background-attachment: fixed;
  color: white;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 50px;
}
.list_facts_museum {
  padding: 0 40px 0 40px;
  margin: 0 auto;
  font-size: 22px;
  line-height: 32px;
}
.list_facts_museum li {
  padding-top: 20px;
}

/* Галерея музея */
.places_cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  padding-top: 50px;
}
.places_card_size_sm {
  grid-column: span 2;
}
.places_card-pic {
  width: 100%;
  transition: 0.15s;
  /* Свойство object-fit сжимает картинки без потери качества и с фокусировкой на главном предмете. ОЧЕНЬ НУЖНАЯ ВЕЩЬ */
}
.places_card {
  position: relative;
  overflow: hidden;
}
.places_card::after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.places_card:hover .places_card-pic {
  transform: scale(1.05);
}
.places_card-pic_size-sm {
  height: 283px;
  object-fit: cover;
}
.places {
  background-color: rgb(0, 0, 0);
  background-size: cover;
}

/* Текст финальный */
.final_about {
  background-color: black;
}

/* Ссылка на remember */
.block_link_remember {
  background-color: black;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}
.link_block {
  width: 90%;
  height: 500px;
  padding: 0 45px 0 45px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  overflow: hidden;
  margin: 0 auto;
}
.title_link_block {
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  padding-bottom: 10px;
}
.defenition_link_block {
  display: none;
  font-size: 20px;
}
.link_block:hover .defenition_link_block {
  display: block;
}
.link_block:hover .title_link_block {
  border-bottom: 3px solid #be0b20;
  transition: 0.5s all ease;
}
.link_block {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
    url("../img/background.jpg");
  background-size: cover;
}
.link_block:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("../img/background.jpg");
  background-size: cover;
  cursor: pointer;
}

/* Footer */
.footer {
  color: white;
  background-color: black;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 40px 50px 40px;
}
.menu_footer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.menu_footer a:not(:first-child),
.email_footer_list {
  margin-top: 10px;
}
.logo_footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 9%;
}
.menu_footer a,
.email_footer_list {
  opacity: 0.5;
  text-decoration: none;
  color: white;
  transition: 0.5s;
}
.menu_footer a:hover,
.email_footer_list:hover {
  opacity: 1;
}
.footer_first_child {
  font-weight: bold;
}

/* Адаптация сайта */
@media screen and (max-width: 1280px) {
  .title_promo_museum {
    font-size: 100px;
  }
  .definition_promo_museum {
    font-size: 26px;
  }
  .places_card_size_sm {
    grid-column: span 3;
  }
}
@media screen and (max-width: 1000px) {
  .logo_footer {
    display: none;
  }
  .title_promo_museum {
    padding: 0 0 0 40px;
  }
  .definition_promo_museum {
    padding: 0 0 0 40px;
    width: 90%;
  }
  .title_about {
    font-size: 30px;
  }
}
@media screen and (max-width: 750px) {
  .places_card_size_sm {
    grid-column: span 6;
  }
  .title_promo_museum {
    font-size: 50px;
    padding: 0 0 0 20px;
  }
  .definition_promo_museum {
    padding: 0 0 0 20px;
  }
}
@media screen and (max-width: 500px) {
  .text_about_museum {
    padding: 0 20px 0 20px;
    font-size: 16px;
  }
  .list_facts_museum {
    padding: 0 20px 0 20px;
    font-size: 16px;
  }
  .title_promo_main {
    font-size: 25px;
  }
}
