.promo_museum {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../img/газеты.jpg");
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: "Comfortaa", cursive;
}
.animate__animated.first_paragraph {
  --animate-duration: 2s;
}
.animate__animated.second_paragraph {
  --animate-duration: 2.5s;
  /*  --animate-delay: 0.9s; - Такис способом тоже можно */
}
.title_promo_museum {
  font-size: 160px;
  color: transparent;
  -webkit-text-stroke: 1px white;
  background: url("../img/back.png");
  -webkit-background-clip: text;
  background-position: 0 0;
  animation: back 20s linear infinite;
  margin-left: 80px;
  font-weight: bold;
}
@keyframes back {
  100% {
    background-position: 2000px 0;
  }
}
.definition_promo_museum {
  width: 70%;
  margin-left: 80px;
  font-size: 22px;
  line-height: 32px;
}

/* Выбор варианта газеты */
.newspapers {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  color: white;
  padding-bottom: 50px;
  padding-top: 50px;
  background-color: black;
}
.newspaper_variant {
  width: 45%;
  height: 500px;
  padding: 0 15px 0 15px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.title_newspaper_variant {
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}
.defenition_newspaper_variant {
  display: none;
  font-size: 20px;
  line-height: 30px;
}
.newspaper_variant:hover .defenition_newspaper_variant {
  display: block;
}
.newspaper_variant:hover .title_newspaper_variant {
  border-bottom: 3px solid #be0b20;
  transition: 0.5s all ease;
}
.newspaper_first {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../img/большевик.jpg");
  background-size: cover;
}
.newspaper_second {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../img/война\ и\ рабочий\ класс.jpg");
  background-size: cover;
}
.newspaper_first:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("../img/большевик.jpg");
  cursor: pointer;
  background-size: cover;
}
.newspaper_second:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("../img/война\ и\ рабочий\ класс.jpg");
  background-size: cover;
  cursor: pointer;
}
/* Footer */
.footer {
  color: white;
  background-color: black;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  padding-bottom: 50px;
}
.menu_footer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.menu_footer a:not(:first-child),
.email_footer_list {
  margin-top: 15px;
}
.logo_footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 9%;
}
.menu_footer a,
.email_footer_list {
  opacity: 0.5;
  text-decoration: none;
  color: white;
  transition: 0.5s;
}
.menu_footer a:hover,
.email_footer_list:hover {
  opacity: 1;
}
.footer_first_child {
  font-weight: bold;
}
