.promo_museum {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../img/background.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* Галерея музея */
.places_cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  padding-bottom: 50px;
}
.places_card_size_sm {
  grid-column: span 2;
}
.places_card-pic {
  width: 100%;
  transition: 0.15s;
  /* Свойство object-fit сжимает картинки без потери качества и с фокусировкой на главном предмете. ОЧЕНЬ НУЖНАЯ ВЕЩЬ */
}
.places_card {
  position: relative;
  overflow: hidden;
}
.places_card::after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.places_card:hover .places_card-pic {
  transform: scale(1.05);
}
.places_card-pic_size-sm {
  height: 330px;
  object-fit: cover;
}
.places {
  background-color: black;
  background-size: cover;
  padding-top: 50px;
}
