/* Факты об ордене славы */
.facts {
  background: black;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding-bottom: 30px;
  border-bottom: 1px solid rgb(36, 36, 36);
}
.title_about {
  background: black;
  font-size: 45px;
  text-align: center;
  padding: 30px 0 30px 0;
}
.title_about:not(.title_about.title_about_first_child) {
  border-bottom: 1px solid rgb(36, 36, 36);
}
.medal_facts {
  display: flex;
  align-items: flex-start;
  padding: 0 40px 0 40px;
}
.list_facts_medal {
  padding: 0 80px 0 0;
  font-size: 22px;
  line-height: 32px;
}
.list_facts_medal li:not(:last-child) {
  padding-bottom: 30px;
}
.list_facts {
  padding: 0 40px 0 40px;
  font-size: 22px;
  line-height: 32px;
}
.list_facts li {
  padding-top: 20px;
}

/* Обладатели ордена */
.title_hero_medal {
  font-weight: bold;
  font-size: 27px;
  opacity: 0.6;
}
.letter_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px 0 40px;
  background-color: black;
}
.letter_block:not(:first-child) {
  padding-top: 80px;
}
.letter_block_second {
  flex-direction: row-reverse;
}
.text_letter_block {
  width: 70%;
}
.text_letter_block p:not(:first-child) {
  padding-top: 30px;
}
.text_after {
  background: black;
  padding: 50px 40px 50px 40px;
  border-bottom: 1px solid rgb(36, 36, 36);
}
.text_after p:not(:first-child) {
  padding-top: 20px;
}

/* Адаптация сайта */
@media screen and (max-width: 1280px) {
  .title_promo_test {
    font-size: 100px;
  }
  .definition_promo_test {
    font-size: 26px;
  }
}
@media screen and (max-width: 1000px) {
  .logo_footer {
    display: none;
  }
  .title_promo_test {
    padding: 0 0 0 40px;
  }
  .definition_promo_test {
    padding: 0 0 0 40px;
    width: 90%;
  }
  .footer {
    flex-direction: column;
  }
  .footer .block_footer {
    padding-top: 30px;
  }
  .logo_footer {
    display: none;
  }
  .logo_footer_name_active {
    display: block;
  }
  .tests_variants {
    flex-direction: column;
  }
  .test_variant {
    width: 100%;
  }
  .test_variant:last-child {
    margin-top: 50px;
  }
}
@media screen and (max-width: 750px) {
  .title_promo_test {
    font-size: 50px;
    padding: 0 0 0 20px;
  }
  .definition_promo_test {
    padding: 0 0 0 20px;
  }
}
@media screen and (max-width: 500px) {
  .text_about_test {
    padding: 0 20px 0 20px;
    font-size: 16px;
  }
  .title_promo_test {
    font-size: 25px;
  }
  .title_test_variant {
    font-size: 30px;
  }
  .definition_promo_test {
    display: none;
  }
}
