/* Обложка */
.promo_test {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
    url("../img/солдаты.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.title_about {
  background: black;
  color: white;
}

/* Солдаты */
.title_hero_medal {
  font-weight: bold;
  font-size: 27px;
  opacity: 0.6;
}
.letter_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px 0 40px;
  color: white;
  background-color: black;
}
.letter_block:not(.letter_block.letter_block_first_child) {
  padding-top: 80px;
}
.letter_block_first_child {
  padding-top: 50px;
}
.letter_block_second {
  flex-direction: row-reverse;
}
.text_letter_block {
  width: 70%;
  font-size: 20px;
  line-height: 30px;
}
.text_letter_block p:not(:first-child) {
  padding-top: 30px;
}
.text_after {
  margin: 0 auto;
  background: black;
  color: white;
  font-size: 20px;
  line-height: 30px;
  padding: 50px 40px 0 40px;
}
.text_after p:not(:first-child) {
  padding-top: 20px;
}

/* Footer */
.footer {
  color: white;
  background-color: black;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 40px 50px 40px;
}
.menu_footer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.menu_footer a:not(:first-child),
.email_footer_list {
  margin-top: 10px;
}
.logo_footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo_footer_name {
  padding-right: 10px;
}
.menu_footer a,
.email_footer_list {
  opacity: 0.5;
  text-decoration: none;
  color: white;
  transition: 0.5s;
}
.menu_footer a:hover,
.email_footer_list:hover {
  opacity: 1;
}
.footer_first_child {
  font-weight: bold;
}

/* Адаптация сайта */
@media screen and (max-width: 1280px) {
  .title_promo_test {
    font-size: 100px;
  }
  .definition_promo_test {
    font-size: 26px;
  }
}
@media screen and (max-width: 1000px) {
  .logo_footer {
    display: none;
  }
  .title_promo_test {
    padding: 0 0 0 40px;
  }
  .definition_promo_test {
    padding: 0 0 0 40px;
    width: 90%;
  }
  .footer {
    flex-direction: column;
  }
  .footer .block_footer {
    padding-top: 30px;
  }
  .logo_footer {
    display: none;
  }
  .logo_footer_name_active {
    display: block;
  }
  .tests_variants {
    flex-direction: column;
  }
  .test_variant {
    width: 100%;
  }
  .test_variant:last-child {
    margin-top: 50px;
  }
}
@media screen and (max-width: 750px) {
  .title_promo_test {
    font-size: 50px;
    padding: 0 0 0 20px;
  }
  .definition_promo_test {
    padding: 0 0 0 20px;
  }
}
@media screen and (max-width: 500px) {
  .text_about_test {
    padding: 0 20px 0 20px;
    font-size: 16px;
  }
  .title_promo_test {
    font-size: 25px;
  }
  .title_test_variant {
    font-size: 30px;
  }
  .definition_promo_test {
    display: none;
  }
}
