* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: #e7f1fb;
}
::-webkit-scrollbar-thumb {
  background: #be0b20;
}
::-webkit-scrollbar-thumb:hover {
  background: #9b0b1c;
}

body {
  position: relative;
  min-height: 100vh;
  width: 100%;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  padding: 6px 14px;
  transition: all 0.5s ease;
  height: 100%;
  width: var(--nav-panel-width);
  background-color: rgb(0, 0, 0);
}
.sidebar .logo-content .logo {
  color: #fff;
  width: 100%;
  align-items: center;
  display: none;
  pointer-events: none;
  transition: all 0.5s ease;
  font-size: 30px;
}
.logo-content {
  display: flex;
}
.expanded .logo-content .logo {
  display: flex;
}
.logo-content .logo .logo_name {
  font-size: 18px;
  font-weight: 800;
  margin-left: 10px;
}
.sidebar #btn {
  color: #ffffff;
  font-size: 30px;
  height: 50px;
  width: 70px;
  text-align: center;
  line-height: 50px;
  transition: all 0.5s ease;
  border-radius: 12px;
}
.sidebar #btn:hover {
  color: rgb(0, 0, 0);
  background-color: white;
}
.expanded #btn {
  margin-left: 20px;
}
.sidebar ul {
  margin-top: 20px;
}
i.bxs-star:first-child {
  color: #be0b20;
}
.sidebar ul li {
  list-style: none;
  position: relative;
  height: 50px;
  width: 100%;
  margin: 7px 0;
  list-style: none;
  line-height: 50px;
}
.sidebar ul li a {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-decoration: none;
  transition: all 0.4s ease;
  border-radius: 12px;
  white-space: nowrap;
}
.sidebar ul li span {
  transform: translateX(50px);
}
.sidebar ul li a:hover {
  color: black;
  background: white;
}
.sidebar ul li input {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  border-radius: 12px;
  outline: none;
  border: none;
  background: rgb(36, 36, 36);
  padding-left: 50px;
  font-size: 15px;
  color: #fff;
}
.sidebar ul li .bx-search {
  position: absolute;
  z-index: 100;
  color: #fff;
  font-size: 22px;
  transition: all 0.5s ease;
}
.sidebar ul li .bx-search:hover {
  background: #fff;
  color: rgb(0, 0, 0);
}
.sidebar ul li i {
  height: 50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
  text-align: center;
  font-size: 28px;
}
.sidebar ul li .tooltip {
  position: absolute;
  height: 35px;
  width: 122px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  left: 80px;
  top: 0;
  transform: translateY(-50%);
  border-radius: 6px;
  line-height: 35px;
  text-align: center;
  transition: 0s;
  opacity: 0;
  pointer-events: none;
  display: block;
}
.sidebar ul li .bel {
  width: 180px;
}
.expanded ul li .tooltip {
  display: none;
}
.sidebar ul li:hover .tooltip {
  top: 50%;
  transition: 0.5s all ease;
  opacity: 1;
}
.sidebar .links_name {
  display: none;
}
.expanded .links_name {
  display: block;
  flex: 2;
}

/* Настройка страницы сайта */
.content {
  height: 100%;
  transition: all 0.5s ease;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font-family: "Comfortaa", cursive;
}
i.bxs-star {
  color: #be0b20;
}
:root {
  --nav-panel-width: 78px;
}
#web-page.expanded {
  --nav-panel-width: 240px;
}
#web-page {
  display: flex;
}
#webpage_content {
  min-height: 100vh;
  margin-left: var(--nav-panel-width);
  flex: 2;
}

/* Обложка */
.promo_test {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)),
    url("../img/background-archive.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: "Comfortaa", cursive;
}
.animate__animated.first_paragraph {
  --animate-duration: 2s;
}
.animate__animated.second_paragraph {
  --animate-duration: 2.5s;
  /*  --animate-delay: 0.9s; - Такис способом тоже можно */
}
.title_promo_test {
  font-size: 160px;
  color: transparent;
  -webkit-text-stroke: 1px white;
  background: url("../img/back.png");
  -webkit-background-clip: text;
  background-position: 0 0;
  animation: back 20s linear infinite;
  margin-left: 80px;
  font-weight: bold;
}
@keyframes back {
  100% {
    background-position: 2000px 0;
  }
}
.definition_promo_test {
  width: 70%;
  margin-left: 80px;
  font-size: 22px;
  line-height: 35px;
}

/* Тест */
.quiz-container {
  width: 95%;
  height: 100vh;
  background-color: #ffffff;
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 25px;
}
.quiz-title-container {
  display: flex;
  flex-direction: column;
  height: 120px;
  justify-content: space-around;
}
.question-number h3 {
  color: #be0b20;
  border-bottom: 1px solid #ccc;
  margin: 0;
  padding-bottom: 10px;
}
#question {
  font-size: 24px;
  color: #000000;
  padding: 15px 0;
  margin-bottom: 10px;
}
.options {
  margin-bottom: 15px;
}
.options div {
  background-color: #cccccc;
  font-size: 16px;
  color: #000000;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 15px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.options div:hover {
  background-color: rgba(207, 207, 207, 0.686);
}
.options div.correct {
  color: #ffffff;
  background-color: green;
}
.options div.wrong {
  color: #ffffff;
  background-color: #be0b20;
}
.options div.disabled {
  pointer-events: none;
}
.button #btn-next {
  padding: 10px 50px;
  background-color: #be0b20;
  font-size: 18px;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  margin-bottom: 15px;
  border: 1px solid #be0b20;
}
.button {
  display: flex;
  justify-content: space-between;
}
.dont-know {
  padding: 10px 50px;
  background-color: white;
  font-size: 18px;
  color: #be0b20;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-bottom: 15px;
  border: 1px solid #be0b20;
}
.dont-know:hover {
  border: 2px solid #be0b20;
  font-weight: bold;
}
.button #btn-next:hover {
  background-color: white;
  color: #be0b20;
}
#answers-tracker {
  border-top: 1px solid #cccccc;
  padding-top: 15px;
}
#answers-tracker div {
  height: 25px;
  width: 25px;
  background-color: #cccccc;
  display: inline-block;
  border-radius: 50%;
  margin-right: 10px;
  transition: 0.5s;
}
#answers-tracker div.correct {
  background-color: green;
}
#answers-tracker div.wrong {
  background-color: #be0b20;
}
.quiz-over-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
  display: none;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.quiz-over-modal.active {
  display: flex;
}
.quiz-over-modal .content-modal {
  background-color: black;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 30px;
  border-radius: 10px;
  flex-basis: 700px;
  max-width: 700px;
  color: #ffffff;
  text-align: center;
}
.quiz-over-modal .content-modal h1 {
  font-size: 36px;
  margin: 0 0 20px;
}
.quiz-over-modal .content-modal button {
  padding: 15px 50px;
  border: none;
  background-color: #be0b20;
  transition: all 0.2s ease-in-out;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  color: #ffffff;
  transition: 0.5s;
  margin-top: 30px;
  width: 100%;
}
.quiz-over-modal .content-modal button:last-child {
  color: #be0b20;
  background-color: white;
  border: none;
  transition: 0.3s all ease;
}
.quiz-over-modal .content-modal button:last-child:hover {
  background-color: #be0b20;
  color: white;
}
.quiz-over-modal .content-modal button:hover {
  background-color: #fff;
  color: #be0b20;
}
/* Footer */
.footer {
  color: white;
  background-color: black;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  padding-bottom: 50px;
  padding-top: 50px;
}
.menu_footer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.menu_footer a:not(:first-child),
.email_footer_list {
  margin-top: 15px;
}
.logo_footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 9%;
}
.menu_footer a,
.email_footer_list {
  opacity: 0.5;
  text-decoration: none;
  color: white;
  transition: 0.5s;
}
.menu_footer a:hover,
.email_footer_list:hover {
  opacity: 1;
}
.footer_first_child {
  font-weight: bold;
}
