* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: #e7f1fb;
}
::-webkit-scrollbar-thumb {
  background: #be0b20;
}
::-webkit-scrollbar-thumb:hover {
  background: #9b0b1c;
}
i.bxs-star {
  color: #be0b20;
}
body {
  position: relative;
  min-height: 100vh;
  width: 100%;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  padding: 6px 14px;
  transition: all 0.5s ease;
  height: 100%;
  width: var(--nav-panel-width);
  background-color: rgb(0, 0, 0);
}
.sidebar .logo-content .logo {
  color: #fff;
  width: 100%;
  align-items: center;
  display: none;
  pointer-events: none;
  transition: all 0.5s ease;
  font-size: 30px;
}
.logo-content {
  display: flex;
}
.expanded .logo-content .logo {
  display: flex;
}
.logo-content .logo .logo_name {
  font-size: 18px;
  font-weight: 800;
  margin-left: 10px;
}
.sidebar #btn {
  color: #ffffff;
  font-size: 30px;
  height: 50px;
  width: 70px;
  text-align: center;
  line-height: 50px;
  transition: all 0.5s ease;
  border-radius: 12px;
}
.sidebar #btn:hover {
  color: rgb(0, 0, 0);
  background-color: white;
}
.expanded #btn {
  margin-left: 20px;
}
.sidebar ul {
  margin-top: 20px;
}
i.bxs-star:first-child {
  color: #be0b20;
}
.sidebar ul li {
  list-style: none;
  position: relative;
  height: 50px;
  width: 100%;
  margin: 7px 0;
  list-style: none;
  line-height: 50px;
}
.sidebar ul li a {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-decoration: none;
  transition: all 0.4s ease;
  border-radius: 12px;
  white-space: nowrap;
}
.sidebar ul li span {
  transform: translateX(50px);
}
.sidebar ul li a:hover {
  color: black;
  background: white;
}
.sidebar ul li input {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  border-radius: 12px;
  outline: none;
  border: none;
  background: rgb(36, 36, 36);
  padding-left: 50px;
  font-size: 15px;
  color: #fff;
}
.sidebar ul li .bx-search {
  position: absolute;
  z-index: 100;
  color: #fff;
  font-size: 22px;
  transition: all 0.5s ease;
}
.sidebar ul li .bx-search:hover {
  background: #fff;
  color: rgb(0, 0, 0);
}
.sidebar ul li i {
  height: 50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
  text-align: center;
  font-size: 28px;
}
.sidebar ul li .tooltip {
  position: absolute;
  height: 35px;
  width: 122px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  left: 80px;
  top: 0;
  transform: translateY(-50%);
  border-radius: 6px;
  line-height: 35px;
  text-align: center;
  transition: 0s;
  opacity: 0;
  pointer-events: none;
  display: block;
}
.sidebar ul li .bel {
  width: 180px;
}
.expanded ul li .tooltip {
  display: none;
}
.sidebar ul li:hover .tooltip {
  top: 50%;
  transition: 0.5s all ease;
  opacity: 1;
}
.sidebar .links_name {
  display: none;
}
.expanded .links_name {
  display: block;
  flex: 2;
}

/* Настройка страницы сайта */
.content {
  height: 100%;
  transition: all 0.5s ease;
  background-color: black;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font-family: "Comfortaa", cursive;
}

:root {
  --nav-panel-width: 78px;
}
#web-page.expanded {
  --nav-panel-width: 240px;
}
#web-page {
  display: flex;
}
#webpage_content {
  min-height: 100vh;
  margin-left: var(--nav-panel-width);
  flex: 2;
}

/* Обложка */
.promo_test {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)),
    url("../img/тест.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: "Comfortaa", cursive;
}
.animate__animated.first_paragraph {
  --animate-duration: 2s;
}
.animate__animated.second_paragraph {
  --animate-duration: 2.5s;
  /*  --animate-delay: 0.9s; - Такис способом тоже можно */
}
.title_promo_test {
  font-size: 160px;
  color: transparent;
  -webkit-text-stroke: 1px white;
  background: url("../img/back.png");
  -webkit-background-clip: text;
  background-position: 0 0;
  animation: back 20s linear infinite;
  margin-left: 80px;
  font-weight: bold;
}
@keyframes back {
  100% {
    background-position: 2000px 0;
  }
}
.definition_promo_test {
  width: 70%;
  margin-left: 80px;
  font-size: 22px;
  line-height: 35px;
}

/* Выбор теста */
.tests_variants {
  display: flex;
  justify-content: space-around;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}
.test_variant {
  width: 45%;
  height: 500px;
  padding: 0 15px 0 15px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  overflow: hidden;
}
.title_test_variant {
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}
.defenition_test_variant {
  display: none;
  font-size: 20px;
}
.test_variant:hover .defenition_test_variant {
  display: block;
}
.test_variant:hover .title_test_variant {
  border-bottom: 3px solid #be0b20;
  transition: 0.5s all ease;
}
.test_first {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
    url("../img/background3.jpg");
}
.test_second {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
    url("../img/background-archive.jpg");
  background-size: cover;
}
.test_first:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("../img/background3.jpg");
  cursor: pointer;
}
.test_second:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("../img/background-archive.jpg");
  background-size: cover;
  cursor: pointer;
}

/* 
Footer

.footer {
  color: white;
  background-color: black;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  padding-bottom: 50px;
  padding-top: 50px;
}
.menu_footer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.menu_footer a:not(:first-child),
.email_footer_list {
  margin-top: 15px;
}
.logo_footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 9%;
}
.menu_footer a,
.email_footer_list {
  opacity: 0.5;
  text-decoration: none;
  color: white;
  transition: 0.5s;
}
.menu_footer a:hover,
.email_footer_list:hover {
  opacity: 1;
}
.footer_first_child {
  font-weight: bold;
} 
*/
